{% extends 'base.html.twig' %}

{% block title %}New Crafts{% endblock %}

{% block body %}
    <h1>Create new Crafts</h1>

    {{ include('crafts/_form.html.twig') }}

    <a href="{{ path('app_crafts_index') }}">back to list</a>
{% endblock %}
